*, html, body {
  background-color: rgb(242, 228, 193);
  border: 0;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  width: 100vw;
}

.header {
  border-right: 2px solid #AAA;
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  width: 30vw;
}

.title {
  color: rgb(9, 0, 128);
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-button {
  border-radius: 0;
  cursor: pointer;
  font-size: 1.2rem;
  max-height: 200px;
  padding: 1vh 0;
  text-align: start;
  text-transform: capitalize;
}

.nav-button:hover {
  color: #222;
}

.nav-button:not(:last-child) {
  margin-right: 2vw;
}

.nav-button--active {
  color: rgb(7, 0, 105);
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70vw;
}

.home, .login, .register {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  margin-top: 15vh;
  width: 100%;
}

.introduction {
  font-size: 1.5rem;
  text-align: center;
}

.login__form, .register__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
  width: 100%;
}

.text-input, .submit-input {
  border-radius: 0;
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1.1rem;
  max-height: 200px;
  padding: 1vh 1vw;
  text-align: center;
  width: 25vw;
}

.text-input {
  box-sizing: content-box;
}

.error {
  font-size: 1rem;
  height: 15vh;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  align-self: flex-end;
}

.error--success {
  color: rgb(7, 0, 105);
}

.error--failure {
  color: rgb(139, 0, 0);
}

.vertical-filler-15vh {
  height: 15vh;
}

@media (width <= 720px) {
  html {
    font-size: 4vw;
  }

  #root {
    flex-direction: column;
  }

  .header {
    border-bottom: 1px solid #AAA;
    border-left: 0;
    flex-direction: row;
    height: 20vh;
    justify-content: space-between;
    padding: 2.5vh 5vw;
    width: 90vw;
  }

  .title {
    align-items: center;
  }

  .content {
    height: 80vh;
    width: 100vw;
  }

  .home, .login, .register {
    height: 50vh;
  }

  .text-input {
    width: 40vw;
  }

  .error {
    width: 100vw;
    align-self: center;
  }
}